:root {
  --color-orange-main: #cd6326;
  --color-orange-light: #e39128;
  --color-orange-dark: #8f5613;
  --color-font-light: #f7f7f7;
  --color-font-grey: #666666;
  --color-font-dark: #333333;
  --color-icon-green: #134731;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

h1 {
  color: var(--color-orange-main);
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
}

h2 {
  color: var(--color-font-dark);
  font-size: 48px;
  line-height: 72px;
}

h3 {
  color: var(--color-font-dark);
  font-size: 27px;
  line-height: 40px;
}

h4 {
  color: var(--color-font-light);
  font-size: 22px;
  line-height: 36px;
}

p {
  color: var(--color-font-light);
  margin: 0;
}

/* Links */

a {
  text-decoration: none;
}

/* Icons */

.icon--social {
  fill: var(--color-icon-green);
}

.icon--facebook {
  width: 15px;
  height: 27px;
}

.icon--instagram {
  width: 30px;
  height: 30px;
}

.icon--pinterest {
  width: 20px;
  height: 26px;
}

.icon--telegram {
  width: 25px;
  height: 22px;
}

.icon--logo {
  width: 70px;
  height: 60px;
  fill: #fff;
}

.icon--arrow {
  width: 26px;
  height: 39px;
  fill: var(--color-font-grey);
  cursor: pointer;
}

.icon--search {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: fill .2s;
}

.icon-container {
  background: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

/* Buttons */

.btn {
  border-radius: 5px;
  border: 0;
  color: var(--color-font-light);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  outline: 0;
  padding: 0;
  text-align: center;
  transition: background 0.2s, border 0.2s;
}

.btn--main {
  padding: 16px 43px;
  background: var(--color-orange-main);
}

.btn--search {
  width: 120px;
  height: 60px;
  background: var(--color-orange-main);
  border-radius: 0px 5px 5px 0px;
}

.btn--main:hover,
.btn--search:hover {
  background: var(--color-orange-light);
}

.btn--main:active,
.btn--search:active {
  background: var(--color-orange-dark);
}

.btn--outline {
  padding: 9px 24px;
  border: 2px solid var(--color-orange-main);
  background: transparent;
}

.btn--outline:hover {
  background: var(--color-orange-main);
  border: 2px solid var(--color-orange-main);
}

.btn--outline:active {
  background: var(--color-orange-dark);
  border: 2px solid var(--color-orange-dark);
}

/* Input */

.form__title {
  margin-bottom: 60px;
  text-align: center;
}

.form__send {
  width: 660px;
  height: 60px;
  position: relative;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px 5px 5px 1px;
  border: 1px solid var(--color-font-grey);
  border-right: 0;
  color: var(--color-font-dark);
  font-size: 23px;
  line-height: 27px;
  outline: 0;
  padding: 15px;
  padding-right: 135px;
  transition: border 0.2s;
}

.form__input:focus {
  border: 1px solid var(--color-orange-main);
}

::placeholder {
  color: var(--color-font-grey);
}

.form__button {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 0 20px;
  }

  .form__send {
    width: 100%;
  }
}

/* Lists */

.list {
  list-style: none;
}

.nav__list-header, .nav__list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:768px) {
  .nav__list-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .nav__list-footer {
    flex-direction: column;
  }
}

/* Logo */

.logo {
  color: var(--color-font-light);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 60px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.icon--logo {
  margin-right: 15px;
}

.icon--logo {
  transition: fill .2s;
}

.icon--logo:hover {
  fill: var(--color-font-grey);
}

@media screen and (max-width: 768px) {
  .logo p{
    display: none;
  }

  .icon--logo {
    margin-right: 0;
  }
}

/* Navigation Bar*/

.nav {
  width: 480px;
}

.nav__item {
  display: inline-block;
}

.nav__link a {
  color: var(--color-font-light);
}

.nav__link a {
  font-size: 23px;
  transition: color 0.2s;
  line-height: 60px;
}

.nav__link a:hover {
  color: var(--color-font-grey);
}

.nav__link a:active {
  color: var(--color-font-dark);
}

.nav__item .icon--search {
  display: inline-block;
  vertical-align: middle;
}

.nav__item .icon--search:hover {
  fill: var(--color-font-grey);
}

@media screen and (max-width: 768px) {
  .nav {
    width: 280px;
  }
}

/* Articles */

.articles__container {
  position: relative;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.articles__container > img {
  max-width: 100%;
}

.articles__container:hover {
  transform: scale(1.03);
}

.articles__text {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.articles__text p {
  margin-top: 10px;
}

.articles__description {
  line-height: 27px;
  font-size: 17px;
}

.articles .icon--arrow {
  transition: fill .2s;
  max-width: 100%;
}

.articles .icon--arrow:hover {
  fill: var(--color-font-dark);
}

@media screen and (max-width:768px) {
  .icon--arrow {
    display: none;
  }
}

/* Social Links */

.social__list {
  display: flex;
  gap: 27px;
  align-items: center;
}

.social .icon-container {
  transition: background 0.2s;
}

.social .icon--social {
  transition: fill .2s;
}

.social .icon-container:hover{
  background: var(--color-icon-green);
}

.social .icon-container:hover .icon--social {
  fill: var(--color-font-light);
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--articles {
    grid-template-columns:
      minmax(15px, 30px)
      repeat(3, minmax(150px, 300px))
      minmax(15px, 30px);
  }
}

/* Blocks */

.block--dark {
  background: #02160b;
}

.block--grey {
  background: #cccccc;
}

.block--footer {
  background: #181617;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.background--fox {
  background-image: url(../images/fox.png);
  background-position: top;
  background-repeat: no-repeat;
}

.background--footer {
  background-image: url(../images/leaves.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1140px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Block Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header .nav__item {
    margin-right: 0;
  }

  .header .logo {
    margin-bottom: 10px;
  }
}

/* Block Survival */

.survival {
  padding-top: 120px;
  padding-bottom: 240px;
}

.survival__heading {
  margin-bottom: 50px;
}

.survival__description {
  margin-bottom: 50px;
  width: 274px;
  line-height: 27px;
  font-size: 18px;
}

@media screen and (max-width:768px) {
  .survival {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .survival__heading {
    color: var(--color-font-light);
    font-size: 64px;
  }
}

/* Block Articles */

.articles {
  padding-top: 120px;
  padding-bottom: 240px;
}

.articles .grid {
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.articles__title {
  text-align: center;
  padding-bottom: 120px;
}

.articles__title p {
  margin-top: 20px;
  line-height: 36px;
  font-size: 24px;
  color: var(--color-font-grey);
}

/* Block Get Notifed*/

.get-notified {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 240px;
}

/* Block Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
}

@media screen and (max-width: 1140px) {
  .footer {
    padding: 25px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
