:root {
  --color-orange-main: #cd6326;
  --color-orange-light: #e39128;
  --color-orange-dark: #8f5613;
  --color-font-light: #f7f7f7;
  --color-font-grey: #666666;
  --color-font-dark: #333333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

h1 {
  color: var(--color-orange-main);
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
}

h2 {
  color: var(--color-font-dark);
  font-size: 48px;
  line-height: 72px;
}

h3 {
  color: var(--color-font-dark);
  font-size: 27px;
  line-height: 40px;
}

h4 {
  color: var(--color-font-light);
  font-size: 22px;
  line-height: 36px;
}

p {
  color: var(--color-font-light);
  margin: 0;
}

/* Links */

a {
  text-decoration: none;
}

/* Icons */

.icon--facebook {
  width: 15px;
  height: 27px;
}

.icon--instagram {
  width: 30px;
  height: 30px;
}

.icon--pinterest {
  width: 20px;
  height: 26px;
}

.icon--telegram {
  width: 25px;
  height: 22px;
}

.icon--logo {
  width: 68px;
  height: 58px;
}

.icon--search {
  width: 23px;
  height: 23px;
}

.icon--arrow {
  width: 26px;
  height: 39px;
}

.icon-container,
.icon-container--logo,
.icon-container--search,
.icon-container--arrow {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.icon-container {
  background: var(--color-font-light);
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.icon-container--logo {
  height: 60px;
  width: 70px;
}
.icon-container--search {
  height: 32px;
  width: 32px;
}

.icon-container--arrow {
  width: 30px;
  height: 70px;
}

/* Buttons */

.btn {
  border-radius: 5px;
  border: 0;
  color: var(--color-font-light);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  outline: 0;
  padding: 0;
  text-align: center;
  transition: background 0.3s, border 0.3s;
}

.btn--main {
  width: 160px;
  height: 60px;
  background: var(--color-orange-main);
}

.btn--search {
  width: 120px;
  height: 60px;
  background: var(--color-orange-main);
  border-radius: 0px 5px 5px 0px;
}

.btn--main:hover,
.btn--search:hover {
  background: var(--color-orange-light);
}

.btn--main:active,
.btn--search:active {
  background: var(--color-orange-dark);
}

.btn--outline {
  width: 120px;
  height: 50px;
  border: 2px solid var(--color-orange-main);
  background: transparent;
}

.btn--outline:hover {
  background: var(--color-orange-main);
  border: 2px solid var(--color-orange-main);
}

.btn--outline:active {
  background: var(--color-orange-dark);
  border: 2px solid var(--color-orange-dark);
}

/* Inputs */

.form__title {
  margin-bottom: 60px;
  text-align: center;
}

.form__send {
  width: 540px;
  height: 60px;
  position: relative;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px 5px 5px 1px;
  border: 1px solid var(--color-font-grey);
  border-right: 0;
  color: var(--color-font-dark);
  font-size: 23px;
  line-height: 27px;
  outline: 0;
  padding: 15px;
  transition: border 0.2s;
}

.form__input:focus {
  border: 1px solid var(--color-orange-main);
}

::placeholder {
  color: var(--color-font-grey);
}

.form__button {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 0 20px;
  }

  .form__send {
    width: 100%;
  }
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns:
      minmax(150px, 300px)
      minmax(150px, 300px)
      minmax(150px, 300px);
  }
}

/* Articles */

.articles__container {
  position: relative;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles__container > img {
  max-width: 100%;
}

.articles__container:hover {
  transform: scale(1.05);
}

.articles__text {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.articles__description {
  line-height: 27px;
  font-size: 17px;
}

/* Blocks */

.block--dark {
  background: #02160b;
}

.block--grey {
  background: var(--color-font-grey);
}

.block--footer {
  color: #181617;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.hero {
  background-image: url(/images/fox.png);
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 120px;
}

.header__logo {
  color: var(--color-font-light);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 60px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.header__logo img {
  margin-right: 15px;
}

.header__nav--list {
  list-style: none;
}

.header__nav--item {
  display: inline-block;
  margin-right: 60px;

}

.header__nav--item:last-child {
  margin-right: 0px;
}

.header__nav--item--link a {
  color: var(--color-font-light);
}

.header__nav--item--link {
  font-size: 23px;
  transition: color .3s;
  line-height: 60px;
}

.header__nav--item--link:hover{
  color: var(--color-font-grey);
}

/* Survival */

.survival {
  padding-bottom: 240px;
}

.survival__heading {
  margin-bottom: 50px;
}

.survival__description {
  margin-bottom: 50px;
  width: 274px;
  line-height: 27px;
  font-size: 18px;
}