<div class="grid grid--1x3">
  <div class="articles__container">
    <img src="images/deer.jpg" alt="A Deer">
    <div class="articles__text">
      <h4>Deer</h4>
      <p class="articles__description">Naturalist investigation</p>
    </div>
  </div>
  <div class="articles__container">
    <img src="images/squirrel.jpg" alt="A Squirrel">
    <div class="articles__text">
      <h4>Deer</h4>
      <p class="articles__description">Naturalist investigation</p>
    </div>
  </div>
  <div class="articles__container">
    <img src="images/bird.jpg" alt="A Bird">
    <div class="articles__text">
      <h4>Deer</h4>
      <p class="articles__description">Naturalist investigation</p>
    </div>
  </div>
</div>