<header class="block--dark">
  <div class="container">
    <div class="header">
      <a href="#" class="header__logo">
        <img src="images/logo.svg" alt="" />
        Wildlife
      </a>
      <div class="header__nav">
        <ul class="header__nav--list">
          <li class="header__nav--item header__nav--item--link">
            <a href="#">Blog</a>
          </li>
          <li class="header__nav--item header__nav--item--link">
            <a href="#">Contacts</a>
          </li>
          <li class="header__nav--item">
            <a href="#">
              <span class="icon-container--search">
                <svg class="icon--search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="header__nav--item">
            <a href="#">
              <button class="btn btn--outline">Sign in</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
